.header{
    display:flex;
    padding:1em 1.2em;
    /* background-color:#354a75; */
    /* background-color: #002349; */
    background-color: #005078;
    justify-content: space-between;
    
}

.header img{
    width:100%;
    max-width:297px;
}

/* nav styles */

.header__nav__nav-links{
    padding:.6em 0;
    margin:0;
    list-style-type:none;
    display:flex;
    flex-wrap:wrap;
}

.header__nav__nav-links__nav-item{
    font-size:.8em;
    letter-spacing:.2em;
    font-weight:400;
    margin:.25em;
    
}

.header__nav__nav-links__nav-item a{
    display:block;
    padding: .8em 1.5em;
    text-decoration:none;
    color:#fff;
}

.header__nav__toggle-button{
    position:absolute;
    top:2rem;
    right:1.5rem;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width:32px;
    height:21px;
    cursor: pointer;
}

.header__nav__toggle-button__bar{
    height:3px;
    width:100%;
    background-color:white;
    border-radius:10px;
}

/* link styles */

.header__nav__nav-links__nav-item a:hover, .main__bottom-link a:hover {
    color:#fff;
    background-color:#957C3D;
    border-radius: 10px;
    transform:scale(1.07);
    transition:.10s;
}

.active-link {
    border:#957C3D solid 3px;
    border-radius:10px;
}

.footer {
    display:flex;
    background-color: #005078;
    color:#fff;
    padding:3em 2em;
    flex-direction:column;
    align-items: center;
}

h1, h2 {
    font-family:'Montserrat',sans-serif;
}

@media screen and (min-width:481px) {

}

@media screen and (max-width:1200px){
    .header img{
        width:200px;
        height:auto;
        max-width:100%;
    }
}

@media screen and (max-width:1062px){
    .header__nav__toggle-button{
        display:flex;
    }

    .header__nav__nav-links{
        display:none;
        flex-direction:column;
        align-items:flex-start;
        width:100%;
        padding-left:2rem;
    }

    .header{
       flex-direction:column; 
       align-items: flex-start;
    }

    .header__nav__nav-links__nav-item a{
        padding:.8rem;
        width:100%;
    } 

    .header__nav__nav-links.active{
        display:flex;
    }

}  

@media screen and (min-width:745px) {
    .footer {
        flex-direction:row;
    }

    .footer__col-1--span {
        padding:0 0.4em;
    }

    .footer__col-2 {
        margin:auto;
    }

    .footer__col-3 {
        margin-left:auto;
    }

    .footer__col-3__social-icon {
        display:inline-block;
        padding:0 1.3em;
        cursor:pointer;
    }
}

@media screen and (max-width:1242px) {
    .footer__col-1--span {
        display:block;
    }

    .footer__col-3__social-icon {
        padding:0 .5em;
        cursor:pointer;
    }

    .header__nav__nav-links__nav-item a {
        padding: .8em 1em;
    }

}

@media screen and(max-width:993px) {
    .footer__col-1--span {
        display:block;
    }

    .footer__col-2 {
        margin:0;
    }
}

@media screen and (min-width:746px) and  (max-width:847px) {
    .footer__col-3__social-icons {
        display:grid;
        grid-template-columns:1fr 1fr;
    }
}

@media screen and (max-width:744px) {
    .footer {
        align-items: center;
    }
    .footer div {
        padding: 0  0 .8em;
    }

    .footer__col-1--telephone{
        padding-bottom: .8em;
        text-align: center;
    }
    
}

/* tablet */
@media screen and (max-width:1118px) {
    
}


